@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using NTDataHiveFrontend.Data

@* <h3>RegisterClarification</h3> *@

<div>
    <AntiforgeryToken />
    <input type="hidden" name="ReturnUrl" value="@ReturnUrl" />
    <p class="reg-clarification-parag">
        Please remind the newly registered member to update their information in their respective <b>Account</b> page.
    </p>
</div>

@code {
    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }
}
