<RadzenRow Gap="10px">
    <RadzenColumn>
        <div class="rz-p-12 rz-shadow-5 rz-border-radius-3">
            @* <h1>Clickable Data</h1> *@
            <NTDataHiveFrontend.Components.Dashboard.QAGraph @rendermode="InteractiveServer" />            
        </div>    
    </RadzenColumn>
@*     <RadzenColumn>
        <div class="shadows rz-background-color-danger-darker rz-p-12 rz-shadow-5 rz-border-radius-3">
           
            <h1>Interactive Input Pages</h1>

        </div>
    </RadzenColumn> *@
@*     <RadzenColumn>
        <div class="shadows rz-background-color-primary-lighter rz-p-12 rz-shadow-5 rz-border-radius-3">
            
            <h1>Performance Dashboard</h1>
            
        </div>
    </RadzenColumn>
    <RadzenColumn>

        <div class="shadows rz-background-color-series-5 rz-p-12 rz-shadow-5 rz-border-radius-3">            
            <h1>Performance Checkbox</h1>            
        </div>

    </RadzenColumn> *@
    <RadzenColumn>
        <div class="shadows rz-p-12 rz-shadow-5 rz-border-radius-3">
            
            <h1>Overall Performance Rating</h1>
            
        </div>
    </RadzenColumn>
    <RadzenColumn>
        <div class="shadows rz-p-12 rz-shadow-5 rz-border-radius-3">
            
            <h1>Specific Details Page</h1>
            
        </div>
    </RadzenColumn>
@*     <RadzenColumn>
        <div class="shadows rz-p-12 rz-shadow-5 rz-border-radius-3">
            Example Score Card
            <h1>NTDataHive!</h1>
            <h4>Quality Performance Score Cards</h4>
        </div>
    </RadzenColumn> *@
    <RadzenColumn>
        <div >
            <NTDataHiveFrontend.Components.QualityPerformance.Pages.EmployeeList />
        </div>
    </RadzenColumn>

</RadzenRow>

