<RadzenRow Gap="10px">
    <RadzenColumn>
        <div class="rz-p-12 rz-shadow-5 rz-border-radius-3">
            @* <h1>Clickable Data</h1> *@
            <NTDataHiveFrontend.Components.Dashboard.QAGraph />            
        </div>    
    </RadzenColumn>
@*     <RadzenColumn>
        <div class="shadows rz-background-color-danger-darker rz-p-12 rz-shadow-5 rz-border-radius-3">
           
            <h1>Interactive Input Pages</h1>

        </div>
    </RadzenColumn> *@
@*     <RadzenColumn>
        <div class="shadows rz-background-color-primary-lighter rz-p-12 rz-shadow-5 rz-border-radius-3">
            
            <h1>Performance Dashboard</h1>
            
        </div>
    </RadzenColumn>
    <RadzenColumn>

        <div class="shadows rz-background-color-series-5 rz-p-12 rz-shadow-5 rz-border-radius-3">            
            <h1>Performance Checkbox</h1>            
        </div>

    </RadzenColumn> *@
    <RadzenColumn>
        <div class="shadows rz-p-12 rz-shadow-5 rz-border-radius-3">
            
            <h1>Overall Performance Rating</h1>
            
        </div>
    </RadzenColumn>
    <RadzenColumn>
        <div class="shadows rz-p-12 rz-shadow-5 rz-border-radius-3">
            
            <h1>Specific Details Page</h1>
            
        </div>
    </RadzenColumn>
@*     <RadzenColumn>
        <div class="shadows rz-p-12 rz-shadow-5 rz-border-radius-3">
            Example Score Card
            <h1>NTDataHive!</h1>
            <h4>Quality Performance Score Cards</h4>
        </div>
    </RadzenColumn> *@


</RadzenRow>
<RadzenRow class="rz-text-align-center rz-border-info-light" Gap="1rem">
    <RadzenColumn class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-12">
        @* Auto *@
    </RadzenColumn>
    <RadzenColumn class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-12">
        <NTDataHiveFrontend.Components.QualityPerformance.Pages.EmployeeList />
    </RadzenColumn>
    <RadzenColumn class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-12">
        @* <RadzenButton Style="background-color: #e81f4b" Text="Create FeedBack" /> *@
    </RadzenColumn>
</RadzenRow>
