@using NTDataHiveFrontend.Components.QualityPerformance.Layout
@using NTDataHiveFrontend.Components.Home

@inject NavigationManager MyNavigation

<DashboardJumbotron />

<RadzenRow class="rz-text-align-center" Gap="1rem">
    <RadzenColumn class="rz-p-5" Size="4">
        <div class="rz-shadow-5 rz-p-3 rz-border-radius-3">
            <div Class="rz-p-0 rz-p-md-5">
                <h4>Over All Accuracy</h4>
                <RadzenChart Style="height:200px;">
                    <RadzenColumnSeries Data="@revenue" CategoryProperty="Quarter" ValueProperty="Revenue" />
                </RadzenChart>
            </div>
        </div>
    </RadzenColumn>
    <RadzenColumn class="rz-p-5">
        <div class="shadows rz-p-12 rz-shadow-5 rz-border-radius-3">

            <h1>Specific Details Page</h1>

        </div>
    </RadzenColumn>
    <RadzenColumn class="rz-p-5">
        @* <RadzenButton Style="background-color: #e81f4b" Text="Create FeedBack" Click="@(()=>MyNavigation.NavigateTo("/pre-editing-feedback"))" /> *@
    </RadzenColumn>
</RadzenRow>

<RadzenRow class="rz-text-align-center" Gap="1rem" Style="margin-bottom:auto%;margin-top:0%;">
    <RadzenColumn class="rz-p-7">
        @* Auto *@
    </RadzenColumn>
    <RadzenColumn class="rz-p-12">
        <NTDataHiveFrontend.Components.QualityPerformance.Pages.EmployeeList />
    </RadzenColumn>
    <RadzenColumn class="rz-p-7">
        @* <RadzenButton Style="background-color: #e81f4b" Text="Create FeedBack" /> *@
    </RadzenColumn>
</RadzenRow>


@code {
    class DataItem
    {
        public string Quarter { get; set; }
        public double Revenue { get; set; }
    }

    List<DataItem> revenue = new List<DataItem>
    {
      new DataItem { Quarter = "Q1", Revenue = 3.34 },
      new DataItem { Quarter = "Q2", Revenue = 4.84 },
      new DataItem { Quarter = "Q3", Revenue = 2.74 },
      new DataItem { Quarter = "Q4", Revenue = 2.94 }
    };
}



