@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Http.Extensions;
@using Microsoft.AspNetCore.Identity
@using NTDataHiveFrontend.Components.Account
@using NTDataHiveFrontend.Data
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@using UseCases.Dropdown.UseCaseInterfaces

@attribute [Authorize]
@inject NTDataHiveFrontend.ServiceAccess.PersonBackendService MyPersonBackendService
@inject IConfiguration Configuration
@inject NavigationManager MyNavigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IdentityUserAccessor UserAccessor
@inject UserManager<ApplicationUser> UserManager
@page "/feedback"

<PageTitle>Evaluation Feedback</PageTitle>

@if (personRecord.Type == "Employee" && personRecord.Position == "QMS Executive - Revision")
{
    <h3>QMS Revision </h3>
}

@if (personRecord.Type == "Employee" && personRecord.Position == "QMS Executive - Pre-Editing")
{
    <h3>QMS Pre-Editing </h3>
}

@if (personRecord.Type == "")
{
    <p><em>Please update your profile...! Click your email in top right corner...</em></p>
}
@if (personRecord.Position == "QMS Executive - Revision" || personRecord.Position == "QMS Executive - Pre-Editing")
{
    <div class="rz-shadow-7 feedback-container">
        <NTDataHiveFrontend.Components.QualityPerformance.Pages.Manage.Feedback />
    </div>
}

@code {
    public string? userId;
    private string selectedJournalName;
    private NTDataHiveFrontend.Model.Person personRecord = new Model.Person();

    protected override async Task OnInitializedAsync()
    {    
        await base.OnInitializedAsync();
        var auth = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var nameIdentifier = auth.User;

        userId = nameIdentifier.FindFirst(c => c.Type == ClaimTypes.NameIdentifier)?.Value;

        personRecord = await MyPersonBackendService.GetPersonRecord(userId);

        if (personRecord.Type == "Admin" || personRecord.Type == "Manager" || 
            personRecord.Type == "Employee" && personRecord.Position == "Others")
        {
            MyNavigation.NavigateTo("/");
        }
    }
}
