@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Http.Extensions;
@using Microsoft.AspNetCore.Identity
@using Microsoft.JSInterop
@using NTDataHiveFrontend.Components.Account
@using NTDataHiveFrontend.Data
@using NTDataHiveFrontend.Components.QualityPerformance.Pages.Manage
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@using OfficeOpenXml

@attribute [Authorize]
@inject NTDataHiveFrontend.ServiceAccess.PersonBackendService MyPersonBackendService
@inject IConfiguration Configuration
@inject NavigationManager MyNavigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IdentityUserAccessor UserAccessor
@inject UserManager<ApplicationUser> UserManager
@inject Microsoft.JSInterop.IJSRuntime JS
@page "/feedback-performance"

<PageTitle>Feedback Performance</PageTitle>

@if (personRecord.Type == null)
{
    <p>Please Remove your connection now...</p>
}

@if (personRecord.Position == "QMS Executive - Revision" || personRecord.Position == "QMS Executive - Pre-Editing" ||
   personRecord.Position == "Operations Manager")
{
    <NTDataHiveFrontend.Components.QualityPerformance.Shared.FeedbackPerformance />
}

@if (personRecord.Position == "Others")
{
    <h1>This is for the Individual Employee</h1>
}

@code {
    private string userId;
    private NTDataHiveFrontend.Model.Person personRecord = new Model.Person();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var auth = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var nameIdentifier = auth.User;

        userId = nameIdentifier.FindFirst(c => c.Type == ClaimTypes.NameIdentifier)?.Value;

        personRecord = await MyPersonBackendService.GetPersonRecord(userId);

        if (personRecord.Type == "Admin")
        {
            MyNavigation.NavigateTo("/");
        }
    }

    private void OnChange(NTDataHiveFrontend.Model.Feedback feedback)
    {
        MyPersonBackendService.GetFilterFor(feedback.PublisherName);
    }

}