<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />    
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/standard-base.css">
    <link rel="stylesheet" href="app.css" />
    <link href="feedback.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="images/nt-logo.png" />
    <link rel="stylesheet" href="NTDataHiveFrontend.styles.css" />
    <HeadOutlet />
    
</head>
<body style="background-color: lightgrey">
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    <script src="/js/site.js"></script>
</body>
</html>
 