@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@inject NTDataHiveFrontend.ServiceAccess.RevisionBackendService MyBackendService
@inject IConfiguration Configuration
@inject NavigationManager MyNavigationManager
@page "/revision-specific-detail-page/{id:guid}"

<h3>Revision Specific Detail</h3>

@if (revisionDetail == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="revisionDetail">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <RadzenFieldset class="rz-color-white " Text="Revision Feedback">
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Supplier Name" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-value="revisionDetail.SupplierName" Placeholder="Supplier Name" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="QA Name" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-value="revisionDetail.QualityAssurance" Placeholder="Quality Assurance Name" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Publisher Name" />

                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-value="revisionDetail.PublisherName" Placeholder="Publisher Name" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Journal ID" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-value="revisionDetail.JournalId" Placeholder="Journal ID" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Article ID" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-value="revisionDetail.ArticleId" Placeholder="Article ID" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Page Count" />
                            </div>
                            <div class="col-md-8">
                                <RadzenNumeric Style="width: 100%;" @bind-Value="revisionDetail.PageCount" TValue="int" Placeholder="Page Count" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Error Count" />
                            </div>
                            <div class="col-md-8">
                                <RadzenNumeric Style="width: 100%;" @bind-value="revisionDetail.ErrorCount" TValue="int" Placeholder="Error Count" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Description of Error" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextArea Style="width: 100%;" @bind-value="revisionDetail.DescriptionOfError" Placeholder="Description of Error" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Matter" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="revisionDetail.Matter" Placeholder="FM/Non-FM" />
                            </div>
                        </div>
                    </RadzenFieldset>
                </div>
                <div class="col-md-6">
                    <RadzenFieldset class="rz-color-white" Text="Revision Feedback">
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Error Location" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="revisionDetail.ErrorLocation" Placeholder="Error Location" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Error Code" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="revisionDetail.ErrorCode" Placeholder="Error Code" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Error Type" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="revisionDetail.ErrorType" Placeholder="Error Type" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Error SubType" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="revisionDetail.ErrorSubtype" Placeholder="Error SubType" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Error Category" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="revisionDetail.ErrorCategory" Placeholder="Error Category" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Introduced/Missed" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="revisionDetail.IntroducedOrMissed" Placeholder="Introduced/Missed" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Department" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="revisionDetail.Department" Placeholder="Department" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Employee Name" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="revisionDetail.EmployeeName" Placeholder="Employee Name" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="CE Level" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="revisionDetail.CopyEditingLevel" Placeholder="Copy Editing Level" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Time Created" />
                            </div>
                            <div class="col-md-8">
                                <RadzenDatePicker Style="width: 53%;" class="datepicker" @bind-Value="revisionDetail.CreatedAt" />
                            </div>
                        </div>
                    </RadzenFieldset>
                </div>
            </div>
        </div>
    </EditForm>
}

@code {
    [Parameter]
    public Guid id { get; set; }

    private NTDataHiveFrontend.Model.Revision revisionDetail = new Model.Revision();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        
        revisionDetail = await MyBackendService.GetRevisionRecord(id);
    }
}
