@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<h3>ProductivityRating</h3>

<div class="container">
    <div class="col-sm-12 my-5">
        <p>Quality is the measure of how flawless a product is. A change in the quality of raw materials or labor may decrease the overall quality of the product.</p>
    </div>
</div>

@code {

}
