@using Microsoft.AspNetCore.Authorization
@using NTDataHiveFrontend.Components.QualityPerformance.Pages

@attribute [Authorize]
@rendermode InteractiveServer
@inject IConfiguration Configuration
@inject NavigationManager MyNavigation
@inject DialogService DialogService

<style>
    .shadows div {
        padding: 1rem;
        width: 10rem;
        text-align: center;
    }

    @@media screen and (max-width: 768px) {
        .rz-text-align-center {
            text-align: center !important;
        }

        .rz-p-5 {
            padding: 1rem !important;
        }

        .rz-shadow-7 {
            box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1) !important;
        }

        .rz-border-radius-3 {
            border-radius: 0.3rem !important;
        }

        .rz-p-4 {
            padding: 0.5rem !important;
        }

        img {
            max-width: 100% !important;
            height: auto !important;
        }

        .rz-button {
            display: block !important;
            margin: 0 auto !important;
        }
    }
</style>

<div class="jumbotron" style="text-align:center;">
    <img src="/images/greatplacetowork.png" style="width: 650px;" />
    <h3 style="margin-top:30px;">QUALITY EVALUATION AND ACKNOWLEDGEMENT</h3>
    <hr class="my-3">
</div>

<RadzenRow class="rz-text-align-center" Gap="1rem">
    <RadzenColumn class="rz-p-5">
        <div class="rz-text-align-center rz-shadow-7 rz-border-radius-3 rz-p-4">
            <img src="/images/acknowledgement.png" style="width: 600px;" />
            <br />
            <RadzenButton Style="background-color: #e81f4b;" Text="Quality Details" />
        </div>
    </RadzenColumn>
    <RadzenColumn class="rz-p-5">
        <div class="rz-text-align-center rz-shadow-7 rz-border-radius-3 rz-p-4">
            <img src="/images/acknowledgement.png" style="width: 600px;" />
            <br />
            <RadzenButton Style="background-color: #e81f4b;" Text="Productivity Details" />
        </div>
    </RadzenColumn>
    <RadzenColumn class="rz-p-4">
        <div class="rz-text-align-center rz-shadow-7 rz-border-radius-3 rz-p-4">
            <NTDataHiveFrontend.Components.QualityPerformance.Pages.Manage.FeedbackPerformance />
        </div>
    </RadzenColumn>
</RadzenRow>
