@page "/auth"

@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@inject NTDataHiveFrontend.ServiceAccess.EmployeeBackendService MyBackendService
@inject IConfiguration Configuration
@inject NavigationManager MyNavigation
@inject DialogService DialogService

<RadzenDialog />

<PageTitle>Auth</PageTitle>

@* <h1>You are authenticated</h1> *@

List Of Person

<div class="container">
    <RadzenFieldset class="row" Style="border:none; float:none;">
        <RadzenDataGrid Style="border:none;" Data="@empList" TItem="NTDataHiveFrontend.Model.Employee" AllowFiltering="true" AllowColumnResize="true"
                        AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true"
                        PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                        ColumnWidth="500px" LogicalFilterOperator="LogicalFilterOperator.Or">
            <Columns>
                <RadzenDataGridColumn TItem="NTDataHiveFrontend.Model.Employee" Property="FirstName" Title="First Name" Width="150px"
                                      TextAlign="TextAlign.Center" Frozen="true" />
                <RadzenDataGridColumn TItem="NTDataHiveFrontend.Model.Employee" Property="WebId" Title="Process Identification" Width="250px" Filterable="false" Frozen="true" />
                <RadzenDataGridColumn TItem="NTDataHiveFrontend.Model.Employee" Property="LastName" Title="Last Name" Width="150px" Filterable="true" />
                <RadzenDataGridColumn TItem="NTDataHiveFrontend.Model.Employee" Property="PublisherIdentity" Title="Publisher Identity" Width="300px" />
                <RadzenDataGridColumn Width="160px" TItem="NTDataHiveFrontend.Model.Employee" Property="WebId" Title="Clickable Details">
                    <Template Context="data">
                        <RadzenButton ButtonStyle="ButtonStyle.Info" Variant="Variant.Flat" Shade="Shade.Lighter" Icon="info" Text="Details" />
                    </Template>

                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </RadzenFieldset>
</div>

@code {
    private List<NTDataHiveFrontend.Model.Employee> empList = new List<Model.Employee>();

    protected override async Task OnInitializedAsync()
    {
        empList = await MyBackendService.GetAllEmployee();

        StateHasChanged();

        base.OnInitializedAsync();
    }

    private async Task OpenDetails(string Webid)
    {
        // await DialogService.OpenAsync<DialogCardPage>($"WeId {WebId}",
        //         new Dictionary<string, object>() { { "WebId", Webid } },
        //         new DialogOptions() { Width = "700px", Height = "520px" });
    }
}
