@page "/create-employee"

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@rendermode InteractiveServer
@inject NTDataHiveFrontend.ServiceAccess.EmployeeBackendService MyBackendService
@inject IConfiguration Configuration
@inject NavigationManager MyNavigation
@inject DialogService DialogService

<PageTitle>Create Performance</PageTitle>

<RadzenDialog />

<style>
    form .row {
        margin-bottom: 16px;
    }
</style>
<div class="create-feedback-button">
    <RadzenButton Style="background-color: #e81f4b;" BusyText="Processing..."
                  Click="@Save" Text="Create Employee" />

</div>

<h3>Create - Employee Page</h3>

@if (addEmployee == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="addEmployee">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <RadzenFieldset Text="Employee Name">
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="First Name" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox style="width: 100%;" @bind-Value="addEmployee.FirstName" Placeholder="Type First Name" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Last Name" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox style="width: 100%;" @bind-Value="addEmployee.LastName" Placeholder="Type Last Name" />
                            </div>
                        </div>
                    </RadzenFieldset>
                </div>
                <div class="col-md-6">
                    <RadzenFieldset Text="Publisher Security Number">
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="PSN" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox style="width: 100%;" @bind-Value="addEmployee.PublisherIdentity" Placeholder="Type SSN" />
                            </div>
                        </div>
                    </RadzenFieldset>
                </div>
            </div>
        </div>

        <div class="rz-p-12 rz-text-align-center">
            <RadzenButton Text="Alert dialog" ButtonStyle="ButtonStyle.Secondary"
                          Click=@(args => DialogService.Alert("Some message!", "MyTitle", new AlertOptions() { OkButtonText = "Yes" })) />
        </div>
    </EditForm>
}

@code {
    private NTDataHiveFrontend.Model.Employee addEmployee = new Model.Employee();

    public async Task Save()
    {
        await MyBackendService.SaveEmployee(addEmployee);

        MyNavigation.NavigateTo("/");
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
