@page "/dashboard"

<h3>Dashboard</h3>

<RadzenCard Style="width: 300px;" class="rz-border-radius-3 rz-text-align-center">
    <div class="shadows rz-p-12 rz-shadow-5 rz-border-radius-3">

        <h6>NTDataHive!</h6>

    </div>
</RadzenCard>

@code {

}
