@page "/"

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@rendermode InteractiveServer
@inject IConfiguration Configuration
@inject NavigationManager MyNavigation
@inject DialogService DialogService
<PageTitle>Dashboard</PageTitle>
<RadzenDialog />

<h1>Welcome to NTDataHive</h1>

<NTDataHiveFrontend.Components.QualityPerformance.Pages.HomeLinks />

