@page "/"

@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@inject NTDataHiveFrontend.ServiceAccess.EmployeeBackendService MyBackendService
@inject IConfiguration Configuration
@inject NavigationManager MyNavigation
@inject DialogService DialogService

<PageTitle>Home</PageTitle>
<RadzenDialog />

<style>
    .shadows div {
        padding: 3rem;
        width: 10rem;
        text-align: center;
    }
</style>

<RadzenRow class="rz-text-align-center" Gap="10px">
    <RadzenColumn>
        
        <div class="shadows rz-p-12 rz-shadow-5">
            Example Score Card
            <h1>NTDataHive!</h1>
            <h4>Quality Performance Score Cards</h4>
        </div>
        
    </RadzenColumn>
    <RadzenColumn>
        <div class="shadows rz-p-12 rz-shadow-5">
            Example Score Card
            <h1>NTDataHive!</h1>
            <h4>Quality Performance Score Cards</h4>
        </div>
    </RadzenColumn>
    <RadzenColumn>
        <div class="shadows rz-p-12 rz-shadow-5">
            Example Score Card
            <h1>NTDataHive!</h1>
            <h4>Quality Performance Score Cards</h4>
        </div>
    </RadzenColumn>
    <RadzenColumn>

        <div class="shadows rz-p-12 rz-shadow-5">
            Example Score Card
            <h1>NTDataHive!</h1>
            <h4>Quality Performance Score Cards</h4>
        </div>

    </RadzenColumn>
    <RadzenColumn>
        <div class="shadows rz-p-12 rz-shadow-5">
            Example Score Card
            <h1>NTDataHive!</h1>
            <h4>Quality Performance Score Cards</h4>
        </div>
    </RadzenColumn>
    <RadzenColumn>
        <div class="shadows rz-p-12 rz-shadow-5">
            Example Score Card
            <h1>NTDataHive!</h1>
            <h4>Quality Performance Score Cards</h4>
        </div>
    </RadzenColumn>
    <RadzenColumn>

        <div class="shadows rz-p-12 rz-shadow-5">
            Example Score Card
            <h1>NTDataHive!</h1>
            <h4>Quality Performance Score Cards</h4>
        </div>

    </RadzenColumn>
    <RadzenColumn>
        <div class="shadows rz-p-12 rz-shadow-5">
            Example Score Card
            <h1>NTDataHive!</h1>
            <h4>Quality Performance Score Cards</h4>
        </div>
    </RadzenColumn>
    <RadzenColumn>
        <div class="rz-p-12 rz-shadow-5">
            <Auth />
        </div>
    </RadzenColumn>
</RadzenRow>

<br />

<RadzenRow class="rz-text-align-center" Gap="1rem">
    <RadzenColumn Size="6" Offset="3">    
        <div class="rz-shadow-5">Example Score Card
        <h1>NTDataHive!</h1>
        <h4>Quality Performance Score Cards</h4>    
        </div>
@*         <RadzenRow class="rz-text-align-center rz-border-info-light" Gap="0.5rem" RowGap="0.5rem">
            <RadzenColumn Size="6" class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-5">                
                Wow
            </RadzenColumn>
            <RadzenColumn Size="6" class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-5">
                Wow
            </RadzenColumn>
        </RadzenRow> *@
    </RadzenColumn>
</RadzenRow>

<br />

<RadzenRow class="rz-text-align-center" Gap="0.5rem" RowGap="0.5rem">
    <RadzenColumn Size="6">
        <div class="rz-shadow-5">
            <img src="/images/nt-logo.png" class="home-image" />
            <br />
            <img src="/images/greatplacetowork.png" class="home-image-work-place" />
        </div>
    </RadzenColumn>
    <RadzenColumn Size="6">
        <div class="rz-shadow-5">
            <Auth />
        </div>
    </RadzenColumn>
</RadzenRow>


