@using NTDataHiveFrontend.Components.QualityPerformance.Pages

@page "/pre-editing-performance"

<h3>Pre_EditingPage</h3>

<PreEditingPerformanceFeedbackPage @rendermode="InteractiveServer" />  

@code {

}
