@using Microsoft.AspNetCore.Authorization
@using NTDataHiveFrontend.Components.QualityPerformance.Pages.PreEditing

@attribute [Authorize]
@inject IConfiguration Configuration

<h3>Revision_Page</h3>

<PerformanceFeedback />