@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@inject IConfiguration Configuration
@inject NTDataHiveFrontend.ServiceAccess.EmployeeBackendService MyBackendService

<PageTitle>Quality Details</PageTitle>

<h3>QualityDetailsPage</h3>

@* <RadzenRow class="rz-text-align-center rz-border-info-light" Gap="1rem">
    <RadzenColumn class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-5">
        <RadzenCard class="rz-my-12 rz-mx-auto" Style="max-width: 420px">

            @foreach (var emp in empList)
            {
                <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0">Employee</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1"><b>@($"{emp.FirstName}")</b></RadzenText>
                                      
                <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">Company</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1"><b>@emp.LastName</b></RadzenText>
            }
              
        </RadzenCard>
    </RadzenColumn>
    <RadzenColumn class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-5">
        <RadzenCard class="rz-my-12 rz-mx-auto" Style="max-width: 420px">
            @foreach (var emp in empList)
            {
                <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0">Hire Date</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1" DateFormat="MM/dd/yyyy"><b>@($"{emp.Created_at.Date}")</b></RadzenText>
                
                <RadzenDatePicker Style="width:57;" class="datepicker" @bind-Value="emp.Created_at" DateFormat="MM/dd/yyyy" 
                                  Placeholder="@($"{emp.Created_at}")" />
            }
        </RadzenCard>
    </RadzenColumn>
    <RadzenColumn class="rz-background-color-info-lighter rz-color-on-info-lighter rz-p-5">
        Auto
    </RadzenColumn>
</RadzenRow> *@

@code {
    private List<NTDataHiveFrontend.Model.Employee> empList = new List<Model.Employee>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        empList = await MyBackendService.GetAllEmployee();

        
    }
}
