@rendermode InteractiveServer

@inject IConfiguration Configuration
@inject NavigationManager MyNavigation
@inject DialogService DialogService

<style>
    .shadows div {
        padding: 1rem;
        width: 10rem;
        text-align: center;
    }
</style>


<div class="jumbotron" style="text-align:center;">
    
   
    <img src="/images/greatplacetowork.png" style="width: 650px;"/>
    <h3>QUALITY EVALUATION AND ACKNOWLEDGEMENT FORM </h3>
    <hr class="my-3">   
    
    <RadzenRow class="rz-text-align-center" Gap="1rem">
        <RadzenColumn Size="6" Offset="3" class="rz-p-5">
            <div class="rz-text-align-center rz-p-9 rz-shadow-7 rz-border-radius-3">
                <p class="lead">
                    "This dashboard is updated in real-time, so you can be confident that you’re
                    always looking at the most up-to-date information. We hope you find this dashboard useful and informative!”
                </p>
                <RadzenButton Style="background-color: #e81f4b;" Click="@ToDashboard" Text="Dashboard" />
            </div>
        </RadzenColumn>
    </RadzenRow>


    <RadzenRow class="rz-text-align-center" Gap="1rem">
        <RadzenColumn class="rz-p-5">
            <div class="rz-text-align-center rz-shadow-7 rz-border-radius-3 rz-p-4">
                <p class="lead">
                    "Your attendance record, including the number of days you have been present, absent, or tardy.
                    It also includes a summary of your attendance history, highlighting any patterns or trends that may be of interest!”
                </p>
                <RadzenButton Style="background-color: #e81f4b;" Text="Attendance Details" />
            </div>
        </RadzenColumn>
        <RadzenColumn class="rz-p-5">
            <div class="rz-text-align-center rz-shadow-7 rz-border-radius-3 rz-p-4">
                <p class="lead">
                    "Productivity details page! That provides a comprehensive overview of your productivity and helps you track your progress.
                    You can view your completed tasks, remaining tasks, and estimated completion time!”
                </p>
                <RadzenButton Style="background-color: #e81f4b;" Text="Productivity Details" />
            </div>
        </RadzenColumn>
        <RadzenColumn class="rz-p-5">
            <div class="rz-text-align-center rz-shadow-7 rz-border-radius-3 rz-p-4">
                <p class="lead">
                    "A comprehensive overview of the quality of your product or process. You can view the results of the inspection,
                    which includes data organized with infographics to help you understand and interpret the results!”
                </p>
                <RadzenButton Style="background-color: #e81f4b;" Text="Quality Details" />
            </div>
        </RadzenColumn>
    </RadzenRow>

@*     <div class="rz-shadow-7 rz-border-radius-3 rz-p-7" style="width: 10rem;">
        <button type="button">
            <h5 style="color:#000000">Dashboard</h5>
        </button>
        

    </div> *@
</div>

@code {

    private void ToDashboard()
    {
        MyNavigation.NavigateTo("/dashboard");
    }
}
