@page "/productivity-details"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@rendermode InteractiveServer
@inject NTDataHiveFrontend.ServiceAccess.PreEditingFeedbackBackendService MyBackendService
@inject IConfiguration Configuration
@inject NavigationManager MyNavigation
@inject DialogService DialogService

@* <h3>QualityDetails</h3> *@

<NTDataHiveFrontend.Components.QualityPerformance.Layout.LayoutJumbotron />
@* <h3 style="text-align:center;">Performance Dashboard</h3> *@

<div class="prod-container">
    <RadzenFieldset class="row" Style="border:none; float:none;">
        <RadzenDataGrid Style="border:none;" Data="@preEditList" TItem="NTDataHiveFrontend.Model.PreEditingErrorFeedback" AllowFiltering="true" AllowColumnResize="true"
                        AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="7" AllowPaging="true"
                        PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                        ColumnWidth="500px" LogicalFilterOperator="LogicalFilterOperator.Or">
            <Template Context="data">
                <RadzenCard class="rz-p-12" Style="margin-bottom:20px">
                    Description of Error :
                    <div class="rz-text-align-center rz-p-12 rz-shadow-7 rz-border-radius-3">
                        <p class="lead" style="text-align:center; white-space:pre-line;">
                            @data.DescriptionOfError
                        </p>
                    </div>
                </RadzenCard>
            </Template>
            <Columns>
                <RadzenDataGridColumn TItem="NTDataHiveFrontend.Model.PreEditingErrorFeedback" Property="SupplierName" Title="Supplier Name" Width="200px"
                                      TextAlign="TextAlign.Center" Frozen="true" />
                <RadzenDataGridColumn TItem="NTDataHiveFrontend.Model.PreEditingErrorFeedback" Property="QualityAssurance" Title="Quality Assurance" Width="250px" Filterable="false"
                                      TextAlign="TextAlign.Center" Frozen="true" />
                <RadzenDataGridColumn TItem="NTDataHiveFrontend.Model.PreEditingErrorFeedback" Property="PublisherName" Title="Publisher Name" Width="150px" Filterable="true"
                                      TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn TItem="NTDataHiveFrontend.Model.PreEditingErrorFeedback" Property="JournalId" Title="Journal ID" Width="150px"
                                      TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn TItem="NTDataHiveFrontend.Model.PreEditingErrorFeedback" Property="ArticleId" Title="Article ID" Width="150px"
                                      TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn TItem="NTDataHiveFrontend.Model.PreEditingErrorFeedback" Property="CopyEditedBy" Title="Copy Edited By" Width="150px"
                                      TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn TItem="NTDataHiveFrontend.Model.PreEditingErrorFeedback" Property="PageCount" Title="Page Count" Width="150px"
                                      TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn TItem="NTDataHiveFrontend.Model.PreEditingErrorFeedback" Property="ErrorCount" Title="Error Count" Width="150px"
                                      TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn TItem="NTDataHiveFrontend.Model.PreEditingErrorFeedback" Property="Matter" Title="FM/Non-FM" Width="150px"
                                      TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn TItem="NTDataHiveFrontend.Model.PreEditingErrorFeedback" Property="ErrorLocation" Title="Error Location" Width="150px"
                                      TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn TItem="NTDataHiveFrontend.Model.PreEditingErrorFeedback" Property="ErrorCode" Title="Error Code" Width="150px"
                                      TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn TItem="NTDataHiveFrontend.Model.PreEditingErrorFeedback" Property="ErrorType" Title="Error Type" Width="150px"
                                      TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn TItem="NTDataHiveFrontend.Model.PreEditingErrorFeedback" Property="ErrorSubtype" Title="Error Subtype" Width="150px"
                                      TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn TItem="NTDataHiveFrontend.Model.PreEditingErrorFeedback" Property="ErrorCategory" Title="Error Category" Width="150px"
                                      TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn TItem="NTDataHiveFrontend.Model.PreEditingErrorFeedback" Property="IntroducedOrMissed" Title="Introduced/Missed" Width="150px"
                                      TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn TItem="NTDataHiveFrontend.Model.PreEditingErrorFeedback" Property="Department" Title="Department" Width="150px"
                                      TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn TItem="NTDataHiveFrontend.Model.PreEditingErrorFeedback" Property="EmployeeName" Title="Employee Name" Width="150px"
                                      TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn TItem="NTDataHiveFrontend.Model.PreEditingErrorFeedback" Property="RootCause" Title="Root Cause" Width="150px"
                                      TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn TItem="NTDataHiveFrontend.Model.PreEditingErrorFeedback" Property="CorrectiveAction" Title="Corrective Action" Width="150px"
                                      TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn TItem="NTDataHiveFrontend.Model.PreEditingErrorFeedback" Property="NatureOfCA" Title="Nature of CA" Width="150px"
                                      TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn TItem="NTDataHiveFrontend.Model.PreEditingErrorFeedback" Property="OwnerOfCA" Title="Owner of CA" Width="150px"
                                      TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn TItem="NTDataHiveFrontend.Model.PreEditingErrorFeedback" Property="PreventiveMeasure" Title="Preventive Measure" Width="150px"
                                      TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn TItem="NTDataHiveFrontend.Model.PreEditingErrorFeedback" Property="NatureOfPM" Title="Nature of PM" Width="150px"
                                      TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn TItem="NTDataHiveFrontend.Model.PreEditingErrorFeedback" Property="StatusOfCA" Title="Status of CA" Width="150px"
                                      TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn TItem="NTDataHiveFrontend.Model.PreEditingErrorFeedback" Property="StatusOfPM" Title="Status of PM" Width="150px"
                                      TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn TItem="NTDataHiveFrontend.Model.PreEditingErrorFeedback" Property="CopyEditingLevel" Title="Copy Editing Level" Width="150px"
                                      TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn TItem="NTDataHiveFrontend.Model.PreEditingErrorFeedback" Property="TargetDateOfCompletionCA" Title="Target Date of Completion CA"
                                      Width="150px" TextAlign="TextAlign.Center" FormatString="{0:d}" />
                <RadzenDataGridColumn TItem="NTDataHiveFrontend.Model.PreEditingErrorFeedback" Property="TargetDateOfCompletionPM" Title="Target Date of Completion PM"
                                      Width="150px" TextAlign="TextAlign.Center" FormatString="{0:d}" />
                <RadzenDataGridColumn TItem="NTDataHiveFrontend.Model.PreEditingErrorFeedback" Property="CreatedAt" Title="Time Created" Width="150px"
                                      TextAlign="TextAlign.Center" />
            </Columns>
        </RadzenDataGrid>
    </RadzenFieldset>
</div>




@* <RadzenFieldset class="row" Style="border:none; float:none;">
    <RadzenDataGrid Style="border:none;" Data="@preEditList" TItem="NTDataHiveFrontend.Model.PreEditingErrorFeedback" AllowFiltering="true" AllowColumnResize="true"
                    AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="7" AllowPaging="true"
                    PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                    ColumnWidth="500px" LogicalFilterOperator="LogicalFilterOperator.Or">
        <Columns>
            <RadzenDataGridColumn TItem="Model.PreEditingErrorFeedback" Property="SupplierName" Title="Suppler Name"
                                  Width="140px" Frozen="true" />
            <RadzenDataGridColumn TItem="Model.PreEditingErrorFeedback" Property="QualityAssurance" Title="Quality Assurance"
                                  Width="140px" Frozen="true" />
            <RadzenDataGridColumn TItem="Model.PreEditingErrorFeedback" Property="PublisherName" Title="Publisher Name"
                                  Width="140px" />
            <RadzenDataGridColumn TItem="Model.PreEditingErrorFeedback" Property="JournalId" Title="Journal ID"
                                  Width="140px" />
            <RadzenDataGridColumn TItem="Model.PreEditingErrorFeedback" Property="ArticleId" Title="Article ID"
                                  Width="140px" />
            <RadzenDataGridColumn TItem="Model.PreEditingErrorFeedback" Property="CopyEditedBy" Title="Copy Edited By"
                                  Width="140px" />
            <RadzenDataGridColumn TItem="Model.PreEditingErrorFeedback" Property="Department" Title="Department"
                                  Width="140px" />
            <RadzenDataGridColumn TItem="Model.PreEditingErrorFeedback" Property="EmployeeName" Title="Employee Name"
                                  Width="140px" />
            <RadzenDataGridColumn TItem="Model.PreEditingErrorFeedback" Property="TargetDateOfCompletionCA" Title="Target Date of Completion CA"
                                  Width="200px" />
            <RadzenDataGridColumn TItem="Model.PreEditingErrorFeedback" Property="NatureOfCA" Title="Nature of CA"
                                  Width="200px" />
            <RadzenDataGridColumn TItem="Model.PreEditingErrorFeedback" Property="OwnerOfCA" Title="Owner of CA"
                                  Width="200px" />
        </Columns>
    </RadzenDataGrid>
</RadzenFieldset> *@

@code {
    private List<NTDataHiveFrontend.Model.PreEditingErrorFeedback> preEditList = new List<Model.PreEditingErrorFeedback>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        // StateHasChanged();
        preEditList = await MyBackendService.GetAllPreEditingRecord();


    }

}

@code {

}
